name: CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build-windows:
    name: Windows build (${{ matrix.configuration }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, Release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Install Windows 10 SDK 10.0.22621.0
        run: choco install windows-sdk-10-version-22621-all --yes --no-progress

      - name: Install MFC components
        run: |
          "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe" modify --installPath "C:\Program Files\Microsoft Visual Studio\2022\Enterprise" --add Microsoft.VisualStudio.Component.VC.MFC --quiet --norestart --nocache

      - name: Build solution
        run: msbuild srchybrid\\emule.sln /p:Configuration=${{ matrix.configuration }} /p:Platform=Win32 /m
